html, body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.top-logo {
    width: 350px;
    height: 107.38px;
    margin: 63.6px 0 0 67px;
    position: absolute;
}
.top-logo2 {
    position: absolute;
    right: 67px;
    top: 80.6px;
}

h1 {
    margin: 0;
    position: absolute;
    top: 267px;
    left: 67px;
    font-size: 60px;
    font-weight: 700;
}

.line {
    border-top: 7px solid #C50000;
    width: 588px;
    left: 70.5px;
    top: 409.5px;
    position: absolute;
}

.intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.intro-description {
    text-align: justify;
    font-size: 46px;
}

.textbox-top {
    margin: 438px 1131px auto 67px;
    position: absolute;
    max-width: 722px;
    max-height: 404px;
}

.intro-video {
    width: 1000px;
    height: 563px;
    position: absolute;
    right: 67px;
    top: 259px;
    opacity: 0.3;
    transition: .5s ease;
  /*find the right yt video code*/
}
.intro-video-overlay {
    width: 1000px;
    height: 563px;
    position: absolute;
    right: 67px;
    top: 259px;
    background-color: #000;
}
.intro-video:hover {
    opacity: 1;
}

.video-tekst {
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    right: 283px;
    top: 467px;
    position: absolute;
    color: #fff;
    text-align: center;
    display: block;
    transition: .5s ease;
}

.intro-video:hover ~ .video-tekst {
    display: none;
}

/*----------- Responsive -----------*/
@media only screen and (max-width: 1366px) {

    .top-logo {
        width: auto;
        height: 84.16px;
        margin: 45.3px 0 0 47.7px;
        position: absolute;
    }
    
    .top-logo2 {
        height: 84.16px;
        width: auto;
        position: absolute;
        right: 47.6px;
        top: 45.3px;
    }
    
    .intro-video {
        width: 711.46px;
        height: 400.55px;
        position: absolute;
        right: 47.7px;
        top: 184.3px;
        opacity: 0.3;
        transition: .5s ease;
    }

    .intro-video-overlay {
        width: 711.46px;
        height: 400.55px;
        position: absolute;
        right: 47.7px;
        top: 184.3px;
        background-color: #000;
    }
    .intro-video:hover {
        opacity: 1;
    }

    h1 {
        margin: 0;
        position: absolute;
        top: 190px;
        left: 47.7px;
        font-size: 64px;
        font-weight: 700;
    }
    
    .line {
        width: 418.34px;
        left: 50.16px;
        top: 291.34px;
        position: absolute;
    }
    
    .textbox-top {
        margin: 311.6px 804.7px auto 47.7px;
        position: absolute;
        max-width: 513.67px;
        max-height: 404px;
    }
    .intro-description {
        font-size: 32px;
    }
}


/*----------- UNDER TOP -----------*/

.space .mountains .jungle .race-track { /*image background*/
  width: 100%;
  height: ?;
  margin: 0%;
}

.space-description-box .mountains-description-box  .jungle-description-box .race-track-description-box { /*textbox background*/
  width: 40%;
  height: 500px;
  opacity: 20%;
  background-color: #4C93B6;
}



.footer {
  width: 100%;
  background-color: #000000;
  margin: 2% 0% 0%;
}
