html, body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.top-logo {
    width: 350px;
    height: 107.38px;
    margin: 63.6px 0 0 67px;
    position: absolute;
}
.top-logo2 {
    margin: 80.6px 67px 0 0;
    position: absolute;
    right: 0;
}

h1 {
    margin: 0;
    position: absolute;
    top: 267px;
    left: 67px;
    font-size: 60px;
    font-weight: 700;
}

.intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.intro-description {
    text-align: justify;
}

.textbox-top {
    margin: 438px 1131px auto 67px;
    position: absolute;
    max-width: 50px;
    max-height: 404px;
}

.intro-video {
    width: 1000px;
    height: 563px;
    position: absolute;
    left: 67px;
    top: 259px;
  /*find the right yt video code*/
}

.space .mountains .jungle .race-track { /*image background*/
  width: 100%;
  height: ?;
  margin: 0%;
}

.space-description-box .mountains-description-box  .jungle-description-box .race-track-description-box { /*textbox background*/
  width: 40%;
  height: 500px;
  opacity: 20%;
  background-color: #4C93B6;
}



.footer {
  width: 100%;
  background-color: #000000;
  margin: 2% 0% 0%;
}
